<!DOCTYPE html>
<html lang="en">
 {% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'portal/assets/css/iofrm-style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static  'portal/assets/css/iofrm-theme9.css' %}">
    <!-- Start of Async Drift Code -->
<script>
"use strict";

!function() {
  var t = window.driftt = window.drift = window.driftt || [];
  if (!t.init) {
    if (t.invoked) return void (window.console && console.error && console.error("Drift snippet included twice."));
    t.invoked = !0, t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ],
    t.factory = function(e) {
      return function() {
        var n = Array.prototype.slice.call(arguments);
        return n.unshift(e), t.push(n), t;
      };
    }, t.methods.forEach(function(e) {
      t[e] = t.factory(e);
    }), t.load = function(t) {
      var e = 3e5, n = Math.ceil(new Date() / e) * e, o = document.createElement("script");
      o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + n + "/" + t + ".js";
      var i = document.getElementsByTagName("script")[0];
      i.parentNode.insertBefore(o, i);
    };
  }
}();
drift.SNIPPET_VERSION = '0.3.1';
drift.load('p4akdzzwzeau');
</script>
<!-- End of Async Drift Code -->

</head>

<body>
{% load crispy_forms_tags %}
    <div class="form-body">
        <div class="row">
            <div class="img-holder">
                <div class="bg"></div>
                <div class="info-holder">
                    <h3>Start, Build, Grow, Scale.</h3>
                    <p>Centinum Group is the best way to get your venture known, funded and supported by people around the globe.</p>
                    <img src="{% static 'portal/assets/img/graphic5.svg' %}" alt="image">
                </div>
            </div>
            <div class="form-holder">
                <div class="form-content">
                    <div class="form-items" style="max-width:380px">
                        <div class="website-logo-inside">
                            <a href="index.html">
                                <!-- <div class="logo"> --
                                    <img class="logo-size" src="<?= bs() ?>public/assets/img/login.png" alt="">
                                -- </div> -->
                            </a>
                        </div>
                        <div class="page-links">
                            <a href="{% url 'loginApp:login'  %}" class="active">Login</a
                            >

                                <a href="{% url 'account:register' %}">Register</a>

                        </div>
                        {% if messages %}
                        {% for message in messages %}
                        <P style="color:#fdce86; font-size:16px;">
                            {{message}}
                        </P>
                        {% endfor %}
                        {% endif %}
                        <form action="." method="post">
                            {% csrf_token %}
                            {% include 'account/form_template2.html' %}

                            <div class="form-button">
                                <button id="submit" type="submit" class="ibtn">Login</button>
                                <br>
                                <br>


                                    <p>
                                    <a href="{% url 'password_reset' %}">
                                        Forget Password?
                                    </a>
                                        or
                                     <a href="{% url 'account:business_management' %}">
                                        Contact Us
                                    </a>
                                    </p>

                            </div>
                        </form>

                            <div class="other-links">
                                <span>Or login with</span>
                                <a href="<?= $fbUrl ?>">Facebook</a>
                                <a href="<?= $oauthURL ?>">Twitter</a>
                                <a href="<?= $authUrl ?>">Google</a>
                                <a href="https://api.instagram.com/oauth/authorize/?client_id=cc0c6e3ffad5457eb811cf3bd99f0524&redirect_uri=http://localhost/login/users/Social_login/instagram_login&response_type=code&scope=public_content">Instagram</a>
                                <a href="">Linkedin</a>
                            </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="http://brandio.io/envato/iofrm/html/js/jquery.min.js"></script>
    <script src="http://brandio.io/envato/iofrm/html/js/popper.min.js"></script>
    <script src="http://brandio.io/envato/iofrm/html/js/bootstrap.min.js"></script>
    <script src="{% static 'portal/assets/js/main.js' %}"></script>
</body>

</html>







